floating_ip_pool_subnet_prefix : {{floating_ip_pool_subnet_prefix}}
floating_ip_pool_subnet_prefix_len: {{floating_ip_pool_subnet_prefix_len}}
virtual_network : {{ virtual_network }}
port_id : {{port_id}}
