net_name: {{ net_name }}
subnet_name : {{ subnet_name }}
ip_prefix: {{ ip_prefix }}
default_gateway: {{ default_gateway }}
ipam: {{ ipam }}
server_name: {{ server_name }}
image: {{ image }}
flavor: {{ flavor }}