private_net_name: {{private_net_name}}
private_network_prefix: {{private_network_prefix}}
private_network_prefix_len : {{private_network_prefix_len}}
port_name_1: {{port_name_1}}
addr_from_start_true: {{addr_from_start_true}}
server_name: {{ server_name }}
sg_name: {{sg_name}}
image: {{ image }}
flavor: {{ flavor }}
