private_net_1_name: {{private_net_1_name}}
private_net_1_prefix: {{private_net_1_prefix}}
private_net_1_prefix_len : {{private_net_1_prefix_len}}
server_name: {{ server_name }}
image: {{ image }}
flavor: {{ flavor }}
