policy_name: {{ policy_name }}
direction: {{ direction }}
action: {{ action }}
service_instance_name: {{ service_instance_name }}
start_src_ports: {{ start_src_ports }}
end_src_ports: {{ end_src_ports }}
start_dst_ports: {{ start_dst_ports }}
end_dst_ports: {{ end_dst_ports }}
private_net_1_name: {{ private_net_1_name }}
private_net_2_name: {{ private_net_2_name }}