name: {{ name }}
mode: {{ mode }}
type: {{ type }}
image: {{ image }}
flavor: {{ flavor }}
shared_ip_list: {{ shared_ip_list }}
scaling: {{ scaling }}
ordered_interfaces: {{ ordered_interfaces }}
service_interface_type_list: {{ service_interface_type_list }}                             