name: {{ name }}
mode: {{ mode}}
type: {{ type }}
image: {{ image}}
flavor: {{ flavor }}
shared_ip_list: {{ shared_ip_list }}
static_routes_list: {{ static_routes_list }}
scaling: {{ scaling }}
availability_zone: {{ availability_zone }}
ordered_interfaces: {{ ordered_interfaces }}
service_interface_type_list: {{ service_interface_type_list }}