name: {{ name }}
network: {{ network}}
ip_prefix: {{ ip_prefix }}
default_gateway: {{ default_gateway }}
ipam: {{ ipam }}
dhcp: {{ dhcp }}
dns_nameservers: {{ dns_nameservers }}
net_pool_start: {{ net_pool_start }}
net_pool_end: {{ net_pool_end }}